@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .container {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 5rem;
  }
}

.btn {
  border-radius: 8px;
  border: none;
  padding: 20px 25px;
  background-color: #FF900E;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 1s;
}
.btn:hover {
  background-color: #d87b10;
  transform: scale(1.02);
}

.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  text-align: center;
}
.header__title {
  font-size: 5.4rem;
  font-weight: 700;
  max-width: 600px;
  margin-bottom: 30px;
}
.header__details {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
  max-width: 860px;
}
.header__img {
  width: 100%;
  margin: 30px 0;
}
.header__hamburger {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .header__hamburger {
    display: block;
    cursor: pointer;
  }
  .header__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header__hamburger.active .bar {
    background-color: white;
  }
}
@media only screen and (max-width: 62.5em) {
  .header__hamburger {
    display: block;
    cursor: pointer;
  }
  .header__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header__hamburger.active .bar {
    background-color: white;
  }
}
.header__hamburger .bar {
  width: 4rem;
  height: 0.5rem;
  background-color: black;
  display: block;
  margin: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.nav__title {
  font-size: 3.5rem;
  font-weight: 700;
}
.nav__title span {
  color: #FF900E;
}
.nav__list {
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
    right: 0;
    top: -100%;
    transition: all 0.5s ease-in-out;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
    right: 0;
    top: -100%;
    transition: all 0.5s ease-in-out;
  }
}
.nav__list.active {
  top: 0;
}
.nav__item {
  list-style: none;
  position: relative;
}
.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.4rem;
  width: 100%;
  height: 0.6rem;
  background-color: #FF900E;
  display: block;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.4s linear;
}
@media only screen and (max-width: 37.5em) {
  .nav__item::after {
    top: 6rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__item::after {
    top: 6rem;
  }
}
.nav__item:hover::after {
  transform: scaleX(1);
}
@media only screen and (max-width: 37.5em) {
  .nav__item {
    margin: 3rem;
  }
  .nav__item:first-child {
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__item {
    margin: 3rem;
  }
  .nav__item:first-child {
    margin-top: 8rem;
  }
}
.nav__item:not(:last-child) {
  margin-right: 3rem;
}
.nav__link {
  text-decoration: none;
  color: #131313;
  font-size: 1.8rem;
  font-weight: 500;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    color: white;
    font-size: 5rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__link {
    color: white;
    font-size: 5rem;
    font-weight: 500;
  }
}

.quicklist {
  margin: 10rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .quicklist {
    flex-direction: column;
  }
}
@media only screen and (max-width: 50em) {
  .quicklist {
    flex-direction: column;
  }
}
.quicklist__images {
  width: 50%;
}
@media only screen and (max-width: 37.5em) {
  .quicklist__images {
    width: 100%;
  }
}
@media only screen and (max-width: 50em) {
  .quicklist__images {
    width: 100%;
  }
}
.quicklist__images > div {
  display: flex;
  gap: 1.5rem;
}
.quicklist__images > div img {
  max-width: 100%;
  max-height: 100%;
}
.quicklist__images > div:first-child {
  padding-bottom: 1.5rem;
}
.quicklist__content {
  width: 50%;
  padding: 7rem 0 7rem 7rem;
}
@media only screen and (max-width: 37.5em) {
  .quicklist__content {
    width: 100%;
    padding: 5rem 0 0 0;
  }
}
@media only screen and (max-width: 50em) {
  .quicklist__content {
    width: 100%;
    padding: 5rem 0 0 0;
  }
}
.quicklist__content__title {
  font-size: 4.5rem;
  font-weight: 500;
  color: #727272;
}
.quicklist__content__title--1 {
  font-weight: 700;
  color: #131313;
}
.quicklist__content__title--2 {
  color: #FF900E;
  font-weight: 700;
}
.quicklist__content__details {
  margin: 2.5rem 0;
  font-size: 1.6rem;
  color: #727272;
  line-height: 2.6rem;
  text-align: justify;
}

.features {
  margin: 10rem;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .features {
    flex-direction: column;
  }
}
@media only screen and (max-width: 78.75em) {
  .features {
    flex-direction: column;
  }
}
.features__details {
  width: 50%;
  padding-right: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .features__details {
    width: 100%;
    padding: 0 0 10rem 0;
  }
}
@media only screen and (max-width: 78.75em) {
  .features__details {
    width: 100%;
    padding: 0 0 10rem 0;
  }
}
.features__details h4 {
  font-size: 4.5rem;
  font-weight: 700;
  border-left: 4px solid #FF900E;
  padding-left: 1.5rem;
}
.features__details > p {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2.5rem 0;
}
.features__cards__item {
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 2.5rem;
}
.features__cards__item > p {
  color: #727272;
  font-weight: 400;
  line-height: 2.6rem;
  padding-top: 2rem;
}
.features__cards__item:not(:last-child) {
  margin-bottom: 2rem;
}
.features__image {
  width: 50%;
}
@media only screen and (max-width: 37.5em) {
  .features__image {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 78.75em) {
  .features__image {
    margin: 0 auto;
  }
}
.features__image img {
  max-width: 100%;
  max-height: 100%;
}
.features__image__exp {
  text-align: center;
  display: inline-block;
  padding: 3rem;
  background-color: #FF900E;
  border-radius: 0.8rem;
  color: white;
  margin: -6rem 0 0 -6rem;
}
@media only screen and (max-width: 37.5em) {
  .features__image__exp {
    padding: 2rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .features__image__exp {
    padding: 2rem;
  }
}
.features__image__exp span {
  font-size: 4.5rem;
  font-weight: 700;
}
@media only screen and (max-width: 37.5em) {
  .features__image__exp span {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .features__image__exp span {
    font-size: 3rem;
  }
}

.facts {
  margin: 10rem;
}
.facts__title {
  font-size: 4.5rem;
  font-weight: 700;
}
.facts__details {
  max-width: 550px;
  padding: 2rem 0 6rem 0;
}
.facts__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12rem;
  padding: 0 4rem 0 4rem;
}
@media only screen and (max-width: 37.5em) {
  .facts__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
}
@media only screen and (max-width: 78.75em) {
  .facts__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .facts__cards {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.facts__card {
  text-align: center;
  padding: 2rem;
  border: 2px solid #FF900E;
  border-radius: 0.8rem;
}
.facts__card h5 {
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem 0;
}
.facts__card p {
  font-size: 2rem;
  font-weight: 600;
  color: #727272;
}

.sponsors {
  margin: 10rem;
}
.sponsors__title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
}
.sponsors__details {
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #727272;
  padding: 2rem 0 6rem 0;
  max-width: 500px;
}
.sponsors__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sponsors__list div img {
  width: 100%;
  padding: 2rem;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}
.sponsors__list div img:hover {
  filter: grayscale(0%);
}

.footer {
  padding: 6rem 2rem 6rem 2rem;
  background-color: rgba(255, 144, 14, 0.1);
  color: #727272;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */